@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&family=Merriweather:ital@1&family=Pacifico&display=swap");

.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

/*  HOMEPAGE */

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

h1 {
  font-family: "Libre Franklin", sans-serif;
  color: #e08243;
  text-shadow: 2px 2px #000000;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.432);
  margin: 0;
  padding: 0.1em;
}

.sub-heading {
  font-family: "Merriweather", serif;
  font-size: 15px;
  text-shadow: 2px 2px 2px #000000;
}

.blog-title {
  font-family: "Pacifico", cursive;
  margin: 0 auto;
  text-align: center;
  transition: all 0.4s ease;
  color: white;
}

.blog-title:hover {
  color: #e08243;
  cursor: pointer;
}

/* BLOG PAGE */

.blog-date-title {
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: white;
}

.blog-description {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  color: rgb(37, 37, 37);
  padding: 1em;
  font-weight: bold;
}

.blog-description-container {
  margin: 0 auto;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  width: 1000px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.432);
  background-image: linear-gradient(#e0824396, #eb997381);
}
